.main-check:checked ~ .main-label {
  background-color: #41e009;
}

#about-me:checked ~ .about_il {
  display: list-item;
}

#my-code:checked ~ .code_il {
  display: list-item;
}

#other-projects:checked ~ .projects_il {
  display: list-item;
}

.main-check {
  display: none;
}

.inner-list {
  display: none;
}

.inner-item {
  font-size: 24px;
  list-style: disc inside;
  margin-left: 10px;
}

.btn {
  font-size: 30px;
}
