#about-me:checked + label > .inner-list {
  display: block;
}

#my-code:checked + label > .inner-list {
  display: block;
}

#other-projects:checked + label > .inner-list {
  display: block;
}

.main-check {
  display: none;
}

.inner-list {
  display: none;
}
